@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

body, html { 
    height:100% ;
    margin:0;
}

.users{
    display: block;
    float: left;
    width: 30%;
}

.about-me{
    position: absolute;
    width: 400px;
    height: 116px;
    left: 0px;
    top: 0px;
    background-color: #3C49DD;
    border: 0.5px solid #3C49DD;
}

.my-user-image{
    width: 80px;
    height: 80px;
    margin: 16px 20px;
    background: white;
    border-radius: 50%;
    object-fit: cover;
    float: left;
}

.my-data{
    font-size: 18px;
    font-family: DM Sans;
    text-align: center;
}

.my-user-name{
    margin-top: 38px;
    margin-bottom: 0px;
}

.my-user-id{
    margin-top: 0px;
}

.about-users{
    height: 100%;
    position: absolute;
    width: 400px;
    top: 116px;
    border: 0.5px solid #3C49DD;
    overflow: auto;
}

.add-frind{
    height: 72px;
    display: block;
}

.centre{
    text-align: center;
    padding-top: 21px;
    padding-bottom: 21px;
}

.add-friend-button{
    padding: 0;
    border: none;
    padding: none;
}

.add-friend-button-image{
    background: white;
}

.add-friend-input p{
    padding-left: 26px;
    font-size: 18px;
    font-family: DM Sans;

}

.add-friend-input input{
    margin-left: 21px;
    background-color: #EFEFEF;
    border: none;
    border-radius: 5px;
    width: 277px;
    height: 48px;
    font-size: 14px;
    padding-left: 13px;
    float: left;
}

.add-friend-input img{
    padding-left: 18px;
}

.id-validation{
    padding: 5px 0px 29px 26px;
    font-size: 12px;
    color: #5FD835;
}

.contacts{
    padding-top: 52px;
    display: inline-block;
}

.user{
    display: inline-block;
    overflow: auto;
    border: 1px solid #E5E5E5;
    border-bottom: none;
    width: 100%;
}

.active-chat{
    height: 99px;
    width: 7px;
    background-color: #3C49DD;
    float: left;
}

.user-image{
    width: 80px;
    height: 80px;
    margin: 10px 10px 10px 45px;
    background: white;
    border-radius: 50%;
    object-fit: cover;
    float: left;
}

.user p{
    font-size: 18px;
    font-family: DM Sans;
    padding-top: 43px;
    float: left;
    margin: 0;
}

.delete-user{
    padding: 0;
    border: none;
    padding-top: 39px;
    margin-right: 12px;
    width: 18px;
    height: 21px;
    background-color: white;
    float: right;
}

.chat{
    display: block;
    float: right;
    width: 70%;

}

.container img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    float: left;
    border-radius: 50%;
}

.container p{
    background-color: #E5E5E5;
    max-width: 375px;
    border-radius: 20%;
    padding: 18px;
}

.my-container{
    background-color: #3C49DD;
    max-width: 375px;
    border-radius: 20%;
    padding: 18px;
    float: right;
    margin-right: 44px;
}

.input-field{
    position: fixed;
    bottom: 0;
}

.input-field input{
    background-color: #EFEFEF;
    border-radius: 20px;
    border: none;
    font-size: 22px;
    display: inline-block;
    width: 62rem;
}

.input-field button{
    width: 45px;
    height: 45px;
    float: right;
    margin-bottom: 8px;
    border: none;
    padding: none;
    background-color: white;
}

